
.navbar {
    background-color: #6eaaff;
}

<<<<<<< HEAD
.iakovos-test {
    color:transparent;
}

.vasilis-test h1{
	font-size:41px;
	color:inherit;
}

 .dadadad {
    clear:both;
 }

 .asadsd {
    display: none;
 }
=======

>>>>>>> parent of cf97a3e... Update style.css
